body {
  --padding: 8px;
  --br: 4px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --blue: 224;
  --green: 82;
  --white: white;

  --text-md: 20px;
  --text-lg: 32px;

  --cursor-width: 4px;

  font-family: var(--font-family);
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
  display: grid;
}

.textarea {
  margin: 0;
  padding: var(--padding);
  font-family: var(--font-family);
  font-size: var(--text-md);
  border: 2px;
}

.button {
  border: 0;
  border-radius: var(--br);
  background-color: hsl(var(--blue), 100%, 50%);
  color: var(--white);
  font-size: 20px;
  padding: var(--padding);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.icon {
  width: 2em;
}

main.input-text-screen {
  grid-template-rows: 1fr auto;
}

main.reader-screen {
  grid-template-rows: 1fr auto;
}

main.select-voice-screen {
  overflow: scroll;
  padding: var(--padding);
}

main.input-text-screen > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--padding);
}

main.reader-screen > .sentences {
  display: grid;
  grid-template-rows: 0.5fr auto 0.5fr;
  overflow: hidden;

  padding: var(--padding);
  font-size: var(--text-lg);
  text-align: center;
}

main.reader-screen > .sentences > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  opacity: 0.25;

  margin: 0;
  padding: 0;
  list-style: none;
}

main.reader-screen > .sentences > ul.past {
  justify-content: flex-end;
}

main.reader-screen > .sentences > ul.future {
  justify-content: flex-start;
}

main.reader-screen > .sentences > .current > .after-paused {
  background: linear-gradient(
    to right,
    hsl(var(--blue), 100%, 75%) var(--cursor-width),
    var(--white) var(--cursor-width)
  );
}

main.reader-screen > .sentences > .current > .after-playing {
  background: linear-gradient(
    to right,
    hsl(var(--green), 100%, 75%) var(--cursor-width),
    var(--white) var(--cursor-width)
  );
}

main.reader-screen > .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main.reader-screen > .controls > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--padding);
}
